[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dateutil = "*"
pandas = "*"
"jinja2" = "*"
babel = "*"
mistletoe = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.7"
