[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "==2.7.5"
tqdm = "==4.29.0"
bleach = "==3.0.2"
altgraph = "==0.16.1"
certifi = "==2018.11.29"
future = "==0.17.1"
idna = "==2.8"
macholib = "==1.11"
pefile = "==2018.8.8"
pytz = "==2018.7"
six = "==1.12.0"
"urllib3" = "==1.24.1"
webencodings = "==0.5.1"
"Jinja2" = "==2.10"
Babel = "==2.6.0"
MarkupSafe = "==1.1.0"
PyInstaller = "==3.4"
markdown = "==3.0.1"

[dev-packages]

[requires]
python_version = "3.7"
