body {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, Roboto;
}

.ww-export-header {
  font-size: 12px;
}

.ic-person {
  font-size: 12px;
  font-weight: 500;
  line-height: 18.2px;
  margin-right: 5px;
}

.ic-timestamp {
  color: rgb(119, 118, 119);
  font-size: 12px;
  font-weight: 300;
  line-height: 15.6px;
}

.ic-message-container {
  font-weight: 200;
}

.ic-transcript-item {
  color: rgb(29, 54, 73);
  line-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.ic-message-date {
  color: rgb(119, 118, 119);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 15px;
  padding-top: 15px;
}
